<div class="register-container">

  <h2>{{ 'register.title' | translate }}</h2>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <input 
      type="text" 
      formControlName="nombre" 
      placeholder="{{ 'register.namePlaceholder' | translate }}"
    >

    <input 
      type="email" 
      formControlName="correo" 
      placeholder="{{ 'register.emailPlaceholder' | translate }}"
    >

    <input 
      type="password" 
      formControlName="contrasena" 
      placeholder="{{ 'register.passwordPlaceholder' | translate }}"
    >

    <button type="submit">{{ 'register.submit' | translate }}</button>
  </form>

  <button type="button" class="back-btn" (click)="goBack()">
    {{ 'register.back' | translate }}
  </button>

  @if (errorMsg()) {
    <p class="error">{{ errorMsg() }}</p>
  }

</div>
