<h2>{{ 'solicitudes.title' | translate }}</h2>

@if (loading()) {
  <p>{{ 'solicitudes.loading' | translate }}</p>
} @else {

  @if (solicitudes().length === 0) {
    <p>{{ 'solicitudes.empty' | translate }}</p>
  } @else {
    <div class="lista">
      @for (s of solicitudes(); track s.id) {
        <div class="solicitud-card">
          <div class="info">
            <strong>{{ s.emisor }}</strong>
          </div>

          <div class="acciones">
            <button class="aceptar" (click)="aceptar(s.id)">
              {{ 'solicitudes.accept' | translate }}
            </button>

            <button class="rechazar" (click)="rechazar(s.id)">
              {{ 'solicitudes.reject' | translate }}
            </button>
          </div>
        </div>
      }
    </div>
  }

}
