<div class="login-container">

  <h1>{{ 'login.title' | translate }}</h1>

  <form [formGroup]="form" (ngSubmit)="submit()" class="login-form">

    <label>{{ 'login.email' | translate }}</label>
    <input 
      type="email" 
      formControlName="correo" 
      placeholder="{{ 'login.emailPlaceholder' | translate }}"
    >
    
    <label>{{ 'login.password' | translate }}</label>
    <input 
      type="password" 
      formControlName="contrasena" 
      placeholder="{{ 'login.passwordPlaceholder' | translate }}"
    >
    
    <button type="submit">{{ 'login.submit' | translate }}</button>
  </form>

  <p class="register-link">
    {{ 'login.noAccount' | translate }}
    <a routerLink="/register">{{ 'login.registerHere' | translate }}</a>
  </p>

</div>
