<h2>{{ 'admin.edit.title' | translate }}</h2>

@if (loading()) {
  <p>{{ 'admin.edit.loading' | translate }}</p>
} @else {

<form (ngSubmit)="guardarCambios()">

  <label>{{ 'admin.edit.name' | translate }}</label>
  <input type="text" [(ngModel)]="formData.nombre" name="nombre">

  <label>{{ 'admin.edit.email' | translate }}</label>
  <input type="email" [(ngModel)]="formData.correo" name="correo">

  <label>{{ 'admin.edit.type' | translate }}</label>
  <select [(ngModel)]="formData.tipo" name="tipo">
    <option value="usuario">{{ 'admin.edit.typeUser' | translate }}</option>
    <option value="admin">{{ 'admin.edit.typeAdmin' | translate }}</option>
  </select>

  <label>{{ 'admin.edit.active' | translate }}</label>
  <select [(ngModel)]="formData.activo" name="activo">
    <option [value]="1">{{ 'admin.edit.activeYes' | translate }}</option>
    <option [value]="0">{{ 'admin.edit.activeNo' | translate }}</option>
  </select>

  <div class="botones">
    <button type="submit">{{ 'admin.edit.save' | translate }}</button>
    <button type="button" class="cancelar" (click)="cancelar()">
      {{ 'admin.edit.cancel' | translate }}
    </button>
  </div>

</form>

}
