<h2>Editar usuario</h2>

@if (loading()) {
  <p>Cargando usuario...</p>
} @else {

<form (ngSubmit)="guardarCambios()">

  <label>Nombre</label>
  <input type="text" [(ngModel)]="formData.nombre" name="nombre">

  <label>Correo</label>
  <input type="email" [(ngModel)]="formData.correo" name="correo">

  <label>Tipo</label>
  <select [(ngModel)]="formData.tipo" name="tipo">
    <option value="usuario">Usuario</option>
    <option value="admin">Admin</option>
  </select>

  <label>Activo</label>
  <select [(ngModel)]="formData.activo" name="activo">
    <option [value]="1">Activo</option>
    <option [value]="0">Desactivado</option>
  </select>

  <div class="botones">
    <button type="submit">Guardar cambios</button>
    <button type="button" class="cancelar" (click)="cancelar()">Cancelar</button>
  </div>

</form>

}
