<div class="chat-container">

  <div class="mensajes" #scrollArea>
    @for (m of mensajes(); track m.id) {
      <div class="mensaje" [class.mio]="m.remitente_id === user.id">
        {{ m.contenido }}
      </div>
    }
  </div>

  <div class="input-area">
    <input 
      type="text" 
      [placeholder]="'dm.writeMessage' | translate"
      [(ngModel)]="nuevoMensaje"
      (keyup.enter)="enviar()"
    >
    <button (click)="enviar()">
      {{ 'dm.send' | translate }}
    </button>
  </div>

</div>
